/*!CK:1889136744!*//*1421163521,*/

.sp_i43Zzzs6py8{background-image:url(/rsrc.php/v2/yp/r/NsiXFhkzQsi.png);background-size:17px 34px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_i43Zzzs6py8.sx_e8d35d{background-position:0 0}.sp_i43Zzzs6py8.sx_9b2a2a{background-position:0 -17px}

#bootloader_s__aO { height: 42px; }
.bootloader_s__aO { display:block !important; }