/*!CK:2926814271!*//*1428406624,*/

._2px{position:absolute;top:-1px;left:0}
._29dt{border-bottom:1px solid #0085ff;cursor:pointer}._1t57{background-color:#dce6f8;border-bottom:0;cursor:default}

#bootloader_AED3S { height: 42px; }
.bootloader_AED3S { display:block !important; }