/*!CK:588411184!*//*1428289379,*/

.sp_tfottZkFS2i{background-image:url(/rsrc.php/v2/yh/r/DOT9-MjtFI8.png);background-size:64px 65px;background-repeat:no-repeat;display:inline-block;height:19px;width:63px}.sp_tfottZkFS2i.sx_f9193a{width:18px;background-position:0 -45px}.sp_tfottZkFS2i.sx_6d2c82{width:18px;background-position:-19px -45px}.sp_tfottZkFS2i.sx_956e90{width:12px;height:13px;background-position:-38px -45px}.sp_tfottZkFS2i.sx_d02067{height:23px;background-position:0 0}.sp_tfottZkFS2i.sx_ecce06{height:20px;background-position:0 -24px}

#bootloader_v4nXB { height: 42px; }
.bootloader_v4nXB { display:block !important; }