/*!CK:2420297409!*//*1427689364,*/

.sp_seNAvXqXd1J{background-image:url(/rsrc.php/v2/yr/r/vLp8yEWjNXM.png);background-size:17px 34px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_seNAvXqXd1J.sx_fc6799{background-position:0 0}.sp_seNAvXqXd1J.sx_d90bc2{background-position:0 -17px}

#bootloader_jFNxj { height: 42px; }
.bootloader_jFNxj { display:block !important; }